.scholarship-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.scholarship-options__offers-sort {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.offers-sort {
  width: 50%;
}

#offers-sort__select {
  border: none;
  background-color: transparent;
  color: var(--sec-blue);
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .offers-sort {
    width: auto;
  }
}
