.top-bar {
  height: 110px;
  width: 100%;
}

.top-bar__header {
  align-items: center;
  display: flex;
  height: 65%;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;
}

.header__logo-whats {
  align-items: center;
  display: flex;
  height: 80%;
  justify-content: space-between;
  width: 60%;
}

.header__logo-whats::before,
.header__logo-whats::after {
  content: "";
  height: 100%;
  width: 2px;
  background-color: rgb(197, 197, 197);
}

.header__logo-whats img {
  height: 100%;
}

.nav-bar {
  background-color: var(--main-blue);
  height: 35%;
  width: 100%;
}

.nav-bar__title {
  font-size: 1.3em;
  line-height: 30px;
  margin: 0 3px 0 0;
  vertical-align: text-bottom;
}

.top-bar__nav-bar {
  align-items: center;
  display: flex;
  color: #fff;
  height: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.nav-links__menu {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: space-between;
  width: 75px;
}

.nav-links__links {
  align-items: center;
  background-color: var(--main-blue);
  display: none;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-around;
  height: 80px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 110px;
  width: 40%;
}

.show-nav-links {
  display: flex;
}

.nav-links__links li {
  align-items: center;
  display: flex;
  list-style: none;
  height: 50px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.nav-links__links li:hover {
  background-color: var(--sec-blue);
}

@media (min-width: 1024px) {
  .top-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    height: 90px;
    justify-content: flex-start;
  }

  .top-bar__header {
    justify-content: space-around;
    width: 80%;
    padding: 5px 0;
  }

  .header__logo-whats::after {
    display: none;
  }
  .header__logo-whats {
    justify-content: flex-start;
    width: 40%;
  }

  .header__logo-whats img {
    margin-left: auto;
  }

  .header__logo-whats::before {
    margin: 0 5px;
  }

  .nav-bar {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .top-bar__nav-bar {
    justify-content: flex-start;
    width: 80%;
  }

  .nav-links__menu {
    display: none;
  }

  .nav-bar__menu {
    height: 100%;
  }
  .menu__nav-links {
    height: 100%;
  }

  .nav-links__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: initial;
    width: auto;
  }
  .nav-links__links li {
    height: 100%;
    width: 150px;
  }
}
