.top-bar {
    height: 110px;
    width: 100%;
}

.top-bar__header {
    align-items: center;
    display: flex;
    height: 65%;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
}

.header__logo-whats {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: space-between;
    width: 60%;
}

.header__logo-whats::before,
.header__logo-whats::after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: rgb(197, 197, 197);
}

.header__logo-whats img {
    height: 100%;
}

.top-bar__nav-bar {
    align-items: center;
    background-color: var(--main-blue);
    display: flex;
    color: #fff;
    height: 35%;
    justify-content: space-between;
    padding: 0 10px;
}

.top-bar__nav-bar h2 {
    margin: 0;
}

.nav-bar__menu__nav-links button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: space-between;
    width: 75px;   
}

@media (min-width: 720px) {
    .top-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .top-bar__header {
        justify-content: space-around;
        width: 85%;
    }

    .header__logo-whats::after {
        display: none;
    }
    .header__logo-whats {
        justify-content: space-around;
        width: 40%;
    }

    .top-bar__nav-bar {
        width: 100%;
    }
}